.preview-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 101;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.preview-content {
    background-color: white;
    border-radius: 15px;
    pointer-events: auto;
    padding: 40px 20px;
    overflow: auto;
    height: 85vh;
    width: 75%;
}

::-webkit-scrollbar {
    width: 10px;
}

.button-container{
    display: flex;
    justify-content: end;
}

.button-container button{
    width: 25%;
    margin : 0 5px;
}

@media screen and (max-width : 992px) {}

@media screen and (max-width : 768px) {
    .button-container button{
        width: 100%;
    }
}

@media screen and (max-width : 576px) {
    .button-container button{
        width: 100%;
        margin : 0 2px;
    }
} 